body {
  background-color: #9dbebb;
}
.all_elements {
  display: flex;
  position: relative;
  margin: auto;
  margin-top: 153px;
  justify-content: center;
}

.red_box {
  display: flex;
  max-width: 954px;
  width: 100%;
  min-height: 594px;
  position: absolute;
  background: linear-gradient(to right, #be0909 64%, #ffb039 36%);
}
.image_box {
  display: flex;
  position: absolute;
  z-index: 1;
  transform: translate(350px, 50px);
}
.box_form {
  display: flex;
  position: absolute;
  justify-content: flex-start
  max-width: 954px;
  width: 100%;
  margin-left: 65px;
  margin-top: 65px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fcffff;
}
.box_form label {
  display: flex;
  height: 21px;
}
.box_form input {
  height: 51px;
  margin-bottom: 21px;
  background-color: #be0909;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #9dbebb;
}
::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.3em;
  color: #feffff;
  position: absolute;
  padding-top: 25px;
  padding-left: 5px;
}

.box_button {
  max-width: 202px;
  width: 100%;
  min-height: 48px;
  position: absolute;
  border-radius: 24px;
  background: #468189;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  border: none;
  margin-top: 35px;
  margin-left: 100px;
}
